
body {
    
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items:center;
    flex-direction:column;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
        
    background-color: #f2f2f2;
    background-position: center;
    background-repeat: no-repeat;
    
}
a {
    text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*Хедер*/
.main-header{
    display:flex;
    align-items:center;
    flex-direction:column;
    width: 1200px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
    
}
.navigation {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;    
    background-color: #ffffff;
    width: 1200px;
    
    display: flex;
    align-items:center;
    
}

/*Вывести из потока и отцентровать*/
.header-logo{
    position: absolute; 
}
.site-navigation {
    display: flex;
    
    padding: 0;
    margin: 16px 18px;
    margin-right: 73px;
    margin-left: 73px;
    width: 100%;
    list-style: none;
    justify-content: space-between;
    
}
    
.site-navigation-left{   
    justify-content: flex-start;
}

.site-navigation-rigth{
    
    justify-content: flex-end;
    
}
.site-navigation-left .site-navigation-item {
    margin-right: 148px;
}
.site-navigation-rigth .site-navigation-item{
    margin-left: 148px;
} 
.site-navigation a{
    width: 240px;
    color: #000000;
}




/*Наведение фокус навиации сталайд*/
.site-navigation a:hover,
.site-navigation a:focus{    
    color: #81b3d2;
}
/*прописать рба прзрачность 0.3*/
.site-navigation a:active {
    color: #766357;
    opacity: 3;
}


.slogan{
    display: flex;
    align-items:center;
    flex-direction:column;
    background-color: #ffffff;
    background-image:  url("../img/header/background-photo.jpg");
    background-position: bottom,bottom;
    background-repeat: no-repeat;
    width: 100%;
    
    
}
.welcome{
    margin: 0;
    padding: 68px 63px ;
    
    
}
.sedona{
    
    padding-bottom: 58px;
}
.because{
    
    padding-bottom: 146px;
}
.slogan-one{
    
    margin: 0;
    padding: 0;
    text-align: center;
    padding-bottom: 38px;
}
.slogan-two{
    
    margin: 0;
    padding: 0;
    text-align: center;
    padding-bottom: 51px;
}

/*Главный контейнер*/
.container{
    display: flex;
    align-items:center;
    flex-direction:column;
    width: 1200px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}
/*Преимущество 1*/
.features {
    display: flex;
    color: #ffffff;
    text-align: center;
    width: 1200px;
    margin: 0;
    padding: 0;
    
     
    
}
.features-one,
.features-two{
    width: 400px;
    background-color: #81b3d2;
    align-items:center;
    display: block;
    margin: 0;
    padding: 0;
    
    
    
}
.features-name {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 48px;
    padding-bottom: 28px;
    margin-left: 120px;
    margin-right: 120px;
    
    
}


.features-namber {
    padding-bottom: 32px;
    margin: 0;
    text-align: center;
    
}
.features-annotation{
    padding-bottom: 62px;
    margin: 0;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
}
.image-hotel,
.image-bridge{
    width: 800px;
    /*можно ли здесь задать высоту?*/
    height: 257px;
    
    
}
/*Рекомендации 3 блок6а*/
.description{
    display: flex;
    align-items:center;
    margin: 0;
    padding: 0;
    padding-top: 60px;
   
        
    color: #000000;
    background-color: #ffffff;
    text-align: center;
    
}
.description-oll{
    background-color: #eeeeee;
}
.description-list {
    display: flex;
    align-items:center;
    flex-direction:column;
    justify-content: space-around;
    width: 400px;
    padding-top: 50px;
    margin: 0;
    padding: 0;
        
}

.description-name-one{
    margin-top: 45px;
    padding-left: 160px;
    padding-right: 160px;
    align-items: baseline;
}
.description-name {
    margin-top: 30px;
    padding-left: 160px;
    padding-right: 160px;
    align-items: baseline;
}
.description-annotation {
    padding-left: 90px;
    padding-right: 90px;
}
.description-list-two{
    display: flex;
    align-items:center;
    flex-direction:column;
    justify-content: space-around;
    width: 400px;
    margin: 0;
    padding: 0;
    
    
    
}
.description-name-two{
    margin-top: 30px;
    margin-top: 50px;
    padding-left: 160px;
    padding-right: 160px;
    align-items: baseline; 
}
.description-number-two{
    margin-top: 30px;
    padding-left: 160px;
    padding-right: 160px;
    align-items: baseline;
}
.description-annotation-two{
    margin-top: 33px;
    margin-bottom: 65px;
    padding-left: 80px;
    padding-right: 80px;
    align-items: baseline;
    
}
/*Карта и модальное окно с кнопкой*/

.interest{
    
    display: flex;
    align-items:center;
    flex-direction:column;
    background-color: #ffffff;
    width: 1200px;
    
}
.interest h2{
    
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    
    margin: 0;
    padding: 0;
    margin-top: 53px;
    margin-bottom: 19px;
    }

.interest-info {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    color: #333333;
    margin: 0;
    padding: 0;
    margin-bottom: 49px;
    
}
.button {
    
    display: inline-block;
    margin-right: 0;
    padding: 0;
  
    font: inherit;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #766357;
    border: none;
}

 .button:hover{
    background-color: #604e43;
}
.button:active{
    color: rgba(225, 225, 225, 0.3) ;
    background-color: #503e33;
}
.interest-button {
    
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    width: 568px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
    
    background-color: #766357;
    text-transform: uppercase;
}

/*Модальное окно привзанное к кнопке-ссылке*/
.map{
    position: relative;
    
}
.modal-search{
   
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%);*/     font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    width: 568px;
    
   background-color: #ffffff; 
}
.search-form{
    display: flex;
    align-items:center;
    flex-direction:column;
    
    padding-bottom: 55px;
    padding-top: 55px;
    padding-right: 55px;
    padding-left: 55px;
    margin: 0;
    
}
.search{
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}
.search p{
   
    
}
.search label {
   margin-right: 22px;
    
}
.search input {
    box-sizing: border-box;
    width: 350px;
  
    padding-left: 10px;
    padding-right: 35px;
  
      
    font: inherit;

    background-color: #f2f2f2;
    border: none;
}
.age-search {
   
    margin: 0;
    padding: 0;
    margin-bottom: 55px;
    margin: auto;
    
}
.age-search p{
    
}

.age-search label{
    margin: 0; 
    margin-left: 0px;
    margin-right: 0px;
    
}
.age-search  input{
    box-sizing: border-box;
    width: 115px;
  
    padding-left: 40px;
    padding-right: 40px;
    
    
  
    font: inherit;

    background-color: #f2f2f2;
    border: none;
    
}
.search input[type="date"]{
    font: inherit;
    color: #000000;
    text-transform: uppercase;
    padding: 10px 15px;
    box-sizing: border-box;
    width: 350px;
  
    padding-left: 10px;
    padding-right: 35px;
    
}
.age-search  input[type="number"]{
    font: inherit;
    color: #000000;
    text-transform: uppercase;
    padding: 10px 15px;
    margin-bottom: 55px;
    margin-left: 50px;
    margin-right: 10px;
    box-sizing: border-box;
    width: 115px;
  
    padding-left: 40px;
    padding-right: 40px;
        

    background-color: #f2f2f2;
    border: none;
}
.search input:hover,
.age-search  input:hover{
    background-color: #ebebeb;
}
.search input:focus,
.age-search  input:focus{
    background-color: #ffffff;
}
/*Иконки календаря*/
.search-input{
    background-image: url("../img/modal/calendar.svg");
    background-position: 320px center;
    background-repeat: no-repeat;
}
.search-input:hover {
    background-image: url("../img/modal/calendar-hover.svg");
    
}
.search-input:active{
    background-image: url("../img/modal/calendar-active.svg");
    
}
.search-button{
    width: 100%;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    background-color: #81b3d2;
    padding-bottom: 18px;
    padding-top: 17px;
    
}
.search-button:hover {
    background-color: #669ec0;
}
.search-button:active{
    background-color: #5496bd;
}


/*Футер*/
.main-footer{
    display: flex;
    align-items:center;
    justify-content: space-around;
    background-color: #f8faf5;
    width: 1200px;
    margin: 0;
    padding: 0;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
    
    
}
.footer-slogan {
    
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}
.footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    margin: 0;
    padding: 0;
    
  
    text-align: center;
}

.footer-social li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    
   
}

.social-button{
    background-color: #81b3d2;
    width: 20px;
    height: 20px;
    padding: 10px 10px 10px 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.social-button:hover{
    background-color: #669ec0;
}
.footer-button:active{
    background-color: #5496bd;
}

.social-button:active path {
    fill: #88b6d1;
}
.footer-copyright {
    display: flex;
    
    align-content: center;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 0;
    
}
.footer-copyright-slogan{
    margin-bottom: auto;
    margin-top: auto;
    margin-right: 8px;
}
.copyright{
        width: 120px;
        height: 40px;
        background-color: #ffffff;
        
}
/*.copyright:hover {
        background-image: url(../img/footer/logo-name-hover.png)
        background-repeat: no-repeat;
}
.copyright:active path{
        background-image: url(../img/footer/logo-name-active.png)
        background-repeat: no-repeat;
}*/
/**Страница КАТАЛОГ**/
/*Настройка формы*/
.filters{
        
    width: 1200px;
    color: #ffffff;
    
    background-image: url("../img/main/filter-background.jpg");
    background-position: top;
    background-repeat: no-repeat;
    
      
}
.filter {
   display: flex;
    
}

.filter fieldset {
    padding: 0;
    margin: 0;
  
    margin-bottom: 32px;
    margin-top: 32px;
    margin-left: 70px;
    border: none;
}
.filter-items:last-child {

    margin-right: 73px;
    margin-left: auto;
    
}

.filter legend {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 26px;
}

.filter ul {
    list-style: none;
        
    padding: 0;
    margin: 0;
  
}

.filter-input:hover + label,
.filter-input:focus + label {
    color: #000000;
}

.filter-input:disabled + label {
    color: #ffffff;

    opacity: 0.3;
}
.filter-options {
    margin-bottom: 19px;
    padding-left: 45px;
  
  
}
.filter-items label {
    position: relative;

    display: block;

    cursor: pointer;
    user-select: none;
    padding-left: 20px;
}
.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -45px;
    top: -3px;
    

    width: 28px;
    height: 28px;

    
    background-image: url("../img/catalog/checkbox-off.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.filter-input-checkbox:checked + label::after {
    content: "";

    position: absolute;
    left: -45px;
    top: -3px;

    width: 28px;
    height: 28px;
  
    
    background-image: url("../img/catalog/checkbox-on1.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}



/*Сортировка формы*/
.catalog {
    width: 1200px;
    border-bottom: 2px solid #e5e5e5;
    background-color: #fefefe;
    
}
.sort,
.catalog-list{
    border-bottom: 2px solid rgba(0,0,0,0.3); 
}
.sort{
    display: flex;
    align-items:center;
    
    width: 1200px;
    justify-content: flex-start;
    
}
.arrow-box:last-child{
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 73px;
}

.sort-found {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin-left: 73px;
}
.sort-list{
    display: flex;
    list-style: none;
    
}

.sort-item {
    margin-right: 35px;
     
    
}
.sort-result{
    margin-left: 50px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400; 
}

/*Оформлени ссылок сортировки*/
.sort a{
    
    color: rgba(0,0,0,0.3);
    
    
}
.sort a:hover{
    color: #81b3d2;
    
}
.sort a:active{
    color: #000000;
    
}
/*Активный какой селектор?*/
.sort a:link{
    color: #81b3d2;
    
}

/*стрелки вверх вниз*/
.arrow a{
    display: inline-block;
    margin: 0 10px;
    font-size: 0;
}

.arrow::before{
    content: "";
    display: inline-block;
    border: 20px solid #cacaca;
    border-right-width: 10px;
    border-left-width: 10px;
    border-right-color: transparent;
    border-left-color: transparent;
}
.arrow-up::before{
    border-top-width: 0;
}
.arrow-down::before{
    border-bottom-width: 0;
}
/*Результат поиска сортировки*/
.catalog-list {
    width: 1200px;
    
    display: flex;
    align-items:center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
    
      
    
}
.hotel-img{
    margin-left: 73px;
    margin-right: 30px;
}
.catalog-rait{
    display: flex;
    
    
    
    margin-right: 73px;
    margin-left: auto;
}
.star-list{
    list-style: none;
    
}
.star-item{
    width: 18px;
    height: 17px;
    background-image: url(../img/catalog/star.png)
}
.rait{
    margin-left: auto;
    
    padding: 5px 10px 5px 10px;
    background-color: #f2f2f2;
    color: #666666;
    
}


.type-price{
    display: flex;
    
}
.type-price p{
    margin: 0;
    padding: 0;
}
.type-price legend{
    color: #333333;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 12px;
    
   
}
.name{
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 12px;
    padding: 0;
}
.name a{
    color: #000000;
}
.name a:hover{
    color: #81b3d2;
}
.name a:active{
    color: rgba(0,0,0,0.3);
}
.type-price button{
    margin-bottom: 8px;
    margin-right: 6px;
}


.catalog-rait {
    display: flex;
    flex-direction:column;
}
.star-list{
    display: flex;
    list-style: none;
}

/*Сложная форма из демо*/
.filter-range {
  width: 330px;
  

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  
  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
    position: relative;

    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;

    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;

    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;

    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background: #81b3d2;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;

    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;

    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.btn-transparent:hover {
    color: #000000;

    background: #ffffff;
}
/*Кнопки все кроме сложной формы и футера





*/



.button-info button{
    margin-right: 6px;
}
.button-detail{
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #81b3d2;
    
    
}
.button-detail:hover{
    background-color: #669ec0;
}
.button-detail:active{
        color: rgba(225, 225, 225, 0.3);
        background-color: #5496bd;
}
.button-book {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #766357;
    
}
.button-book:hover{
    background-color: #604e43;
} 
.button-book:active{
        color: rgba(225, 225, 225, 0.3);
        background-color: #503e33;
} 